<style>

body {
  font-family: sans-serif;
  font-size: small;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 30px;
  border: solid 1px #ccc;
  text-align: center;
}

.meta {
  margin-left: 10px;
}

.borderless {
  border: none;
}

.current {
  font-weight: bold;
}

</style>

<table class='meta'>
  <tr>
    <td><%= link_to "reset", reset_neighbours_path %></td>
    <td><%= link_to "walk", walk_neighbours_path %></td>
    <td><%= link_to "step", step_neighbours_path %></td>
  </tr>
</table>

<table>
  <% 0.upto(@neighbours.factors_size-1) do |factor_index| %>
  <tr>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
      <% item_factor = item.factors[factor_index] %>
      <% if item_factor %>
    <td><%= '%.4f' % item_factor %></td>
      <% else %>
    <td><%= 'n/a' %></td>
      <% end %>
    <% end %>
    <td class='borderless' rowspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
  </tr>
  <% end %>
  <tr class='borderless'>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
    <td><%= item.name %></td>
    <% end %>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <% 0.upto(@neighbours.factors_size-1) do |factor_index| %>
      <% user_factor = user.factors[factor_index] %>
      <% if user_factor %>
    <td><%= '%.4f' % user_factor %></td>
      <% else %>
    <td><%= 'n/a' %></td>
      <% end %>
    <% end %>
    <td><%= user.name %></td>
    <% Item.all.each do |item| %>
      <% real_rating = user.rating_for item %>
      <% predicted_rating = PredictedRating.for(user, item).value %>
      <% if real_rating %>
    <td><b><%= real_rating %></b></td>
      <% elsif predicted_rating %>
    <td><%= '%.4f' % predicted_rating %></td>
      <% else %>
    <td>-</td>
      <% end %>
    <% end %>
    <td>
    <% user.top_predicted_items(3).each do |top_predicted_item| %>
      <%= top_predicted_item.name %>,      
    <% end %>
    </td>
  </tr>
  <% end %>
</table>

<table class='meta'>
  <tr>
  <% @neighbours.rmses.reverse_each do |rmse| %>
    <td><%= rmse %></td>
  <% end %>
  </tr>
</table>
