<style>

body {
  font-family: sans-serif;
  font-size: small;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 30px;
  border: solid 1px #ccc;
  text-align: center;
}

.meta {
  margin-left: 10px;
}

.borderless {
  border: none;
}

.current {
  font-weight: bold;
}

</style>

<table class='meta'>
  <tr>
    <td><%= link_to "reset", reset_neighbours_path %></td>
    <td><%= link_to "walk", walk_neighbours_path %></td>
    <td><%= link_to "step", step_neighbours_path %></td>
  </tr>
</table>

<table>
  <% @neighbours.factors_size.times do |factor_index| %>
  <tr>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
    <td><%= '%.4f' % item.factors[factor_index] %></td>
    <% end %>
    <td class='borderless' rowspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
  </tr>
  <% end %>
  <tr class='borderless'>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
    <td><%= item.name %></td>
    <% end %>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <% @neighbours.factors_size.times do |factor_index| %>
    <td><%= '%.4f' % user.factors[factor_index] %></td>
    <% end %>
    <td><%= user.name %></td>
    <% Item.all.each do |item| %>
      <% rating = user.rating_for item %>
      <% untrained_rating = user.untrained_rating_for item %>
      <% if rating %>
    <td class='trained_rating'><%= rating %></td>
      <% elsif untrained_rating %>
    <td class='untrained_rating'><%= '%.4f' % PredictedRating.for(user, item).value %> (<%= untrained_rating %>)</td>
      <% else %>
    <td class='predicted_rating'><%= '%.4f' % PredictedRating.for(user, item).value %></td>
      <% end %>
    <% end %>
    <td><%= user.top_predicted_items(3).collect(&:name).join(', ') %></td>
  </tr>
  <% end %>
</table>

<table class='meta'>
  <tr>
  <% @neighbours.rmses.reverse_each do |rmse| %>
    <td><%= rmse %></td>
  <% end %>
  </tr>
  <tr>
  <% @neighbours.untrained_rmses.reverse_each do |rmse| %>
    <td><%= rmse %></td>
  <% end %>
  </tr>
</table>
