<style>

body {
  font-family: sans-serif;
  font-size: small;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 30px;
  border: solid 1px #ccc;
  text-align: center;
}

.meta {
  margin-left: 10px;
}

.borderless {
  border: none;
}

.current {
  font-weight: bold;
}

</style>

<table class='meta'>
  <tr>
    <td><%= link_to "reset", reset_neighbours_path %></td>
    <td><%= link_to "step", step_neighbours_path %></td>
  </tr>
</table>

<table>
  <% 1.upto(@neighbours.factors_size) do |factor_index| %>
  <tr>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
      <% item_factor = ItemFactor.where(item_id: item.id, factor_index: factor_index).first %>
      <% if item_factor %>
    <td><%= '%.4f' % item_factor.value %></td>
      <% else %>
    <td><%= 'n/a' %></td>
      <% end %>
    <% end %>
    <td class='borderless' rowspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
  </tr>
  <% end %>
  <tr class='borderless'>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% Item.all.each do |item| %>
    <td><%= item.name %></td>
    <% end %>
  </tr>
  <% User.all.each do |user| %>
  <tr>
    <% 1.upto(@neighbours.factors_size) do |factor_index| %>
      <% user_factor = UserFactor.where(user_id: user.id, factor_index: factor_index).first %>
      <% if user_factor %>
    <td><%= '%.4f' % user_factor.value %></td>
      <% else %>
    <td><%= 'n/a' %></td>
      <% end %>
    <% end %>
    <td><%= user.name %></td>
    <% Item.all.each do |item| %>
      <% real_rating = RealRating.where(user_id: user.id, item_id: item.id).first %>
      <% predicted_rating = PredictedRating.where(user_id: user.id, item_id: item.id).first %>
      <% if real_rating %>
    <td><b><%= real_rating.value %></b></td>
      <% else %>
        <% if predicted_rating %>
    <td><%= '%.4f' % predicted_rating.value %></td>
        <% else %>
    <td>-</td>
        <% end %>
      <% end %>
    <% end %>
    <% top_predicted_item = user.top_predicted_item %>
    <% if top_predicted_item %>
    <td><%= top_predicted_item.name %></td>
    <% else %>
    <td>?</td>
    <% end %>
  </tr>
  <% end %>
</table>

<table class='meta'>
  <tr>
  <% @neighbours.quad_sum_errors.reverse_each do |quad_sum_error| %>
    <td><%= quad_sum_error %></td>
  <% end %>
  </tr>
</table>
