<style>

body {
  font-family: sans-serif;
  font-size: small;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 30px;
  border: solid 1px #ccc;
  text-align: center;
}

.meta {
  margin-left: 10px;
}

.borderless {
  border: none;
}

.current {
  font-weight: bold;
}

</style>

<table class='meta'>
  <tr>
    <td><%= link_to "reset", reset_neighbours_path %></td>
    <td><%= link_to "step", neighbours_path %></td>
  </tr>
</table>

<table>
  <% for factor_index in 0..(@neighbours.factors_size - 1) do %>
  <tr>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% @neighbours.items.each_with_index do |item, item_index| %>
    <td><%= '%.4f' % @neighbours.q_matrix[item_index][factor_index] %></td>
    <% end %>
    <td class='borderless' rowspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
  </tr>
  <% end %>
  <tr class='borderless'>
    <td class='borderless' colspan='<%= @neighbours.factors_size + 1 %>'>&nbsp;</td>
    <% @neighbours.items.each do |item| %>
    <td><%= item %></td>
    <% end %>
  </tr>
  <% @neighbours.p_matrix.each_with_index do |factors, user_index| %>
  <tr>
    <% factors.each do |factor| %>
    <td><%= '%.4f' % factor %></td>
    <% end %>
    <td><%= @neighbours.users[user_index] %></td>
    <% @neighbours.items.each_with_index do |item, item_index| %>
      <% original_rating = @neighbours.original_ratings[user_index][item_index] %>
      <% approximated_rating = @neighbours.aproximated_ratings[user_index][item_index] %>
      <% if original_rating %>
      <td><b><%= original_rating %></b></td>
      <% else %>
        <% if approximated_rating %>
        <td><%= '%.4f' % approximated_rating %></td>
        <% else %>
        <td>-</td>
        <% end %>
      <% end %>
    <% end %>
    <td><%= @neighbours.recommendation_for user_index %></td>
  </tr>
  <% end %>
</table>

<table class='meta'>
  <tr>
  <% @neighbours.quad_sum_errors.reverse_each do |quad_sum_error| %>
    <td><%= quad_sum_error %></td>
  <% end %>
  </tr>
</table>
