<style>

body {
  font-family: sans-serif;
  font-size: small;
}

table {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 30px;
  border: solid 1px #ccc;
  text-align: center;
}

.borderless {
  border: none;
}

.current {
  font-weight: bold;
}

</style>
<table>
  <tr>
    <td class='borderless'>&nbsp;</td>
    <td class='borderless'>Q</td>
    <% @items.each do |item| %>
    <td><%= '%.4f' % @qs[item] %></td>
    <% end %>
  </tr>
  <tr>
    <td class='borderless'>P</td>
    <td class='borderless'>&nbsp;</td>
    <% @items.each do |item| %>
    <td><%= item %></td>
    <% end %>
    <td>recommendations</td>
    <td>converged</td>
  </tr>
  <% @subjects.each do |subject| %>
  <tr>
    <td><%= '%.4f' % @ps[subject] %></td>
    <td><%= subject %></td>
    <% @items.each do |item| %>
    <td><%= @ratings[subject][item] ? "1" : '%.4f' % (@ps[subject] * @qs[item]) %></td>
    <% end %>
    <td><%= @recommendations[subject] %></td>
    <td><%= @converged[subject] %></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <td colspan='<%= @history %>'>squared errors</td>
    <td>steps</td>
    <td class='borderless'>&nbsp;</td>
  </tr>
  <tr>
    <% @history.times do |h| %>
    <td><%= '%.4f' % @quad_error_sums[h] %></td>
    <% end %>
    <td><%= @steps %></td>
    <td class='borderless'><%= @stahp ? 'STAHP!' : '' %></td>
  </tr>
</table>


<table>
  <tr>
    <td><%= link_to "reset", reset_test_path %></td>
    <td><%= link_to "step", step_test_path %></td>
  </tr>
</table>
